/* logo color */
.shipUp-logo-main-clr {
    color: #F67366;
}

/* play demo btn */
.custom-playDemo-btn {
    color: #2C2D5B;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-size: 2vw;
    padding: 1vw;
    border-radius: 50%;
}

/* dropdown style */
.dp-menu {
    width: 50vw;
    height: 40vh;
}

.dp-img {
    width: 20vw;
    height: 28vh;
}

/* input section */
.custom-input-section {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 15px;
}

/* For hover effect */
.custom-hover:hover {
    background-color: inherit;
    color: inherit;
}